.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  padding: 15px 45px;
  display: flex;
  height: 30px;
  align-items: flex-start;
  box-shadow: 5px 5px 8px #d6d3d3;
  width: "100%";
  
}
.dropdown{
  position: absolute;
  margin-top: -11px;
  margin-left: 40px;
  width: 230px;
  border-radius: 6px;
  z-index: 2 ;
  background-color: #f4f6f5;
  box-shadow: 10px 10px 15px rgba(3, 4, 94, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  top:10;
  bottom : -10;
}
